@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.titulo {
font-family: monospace;
font-size: 1.1em;
color: var(--fg-color);
position: fixed;
  top: 490px;
  left: 50%;
  transform: translate(-50%, -50%);
white-space: nowrap;
display: flex;
margin-bottom: 1vh;
}



.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;

  font-size: 16px;
  line-height: 1.5;
  color: rgb(55, 53, 47);
  caret-color: rgb(55, 53, 47);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.loadingIcon {
  animation: spinner 0.6s linear infinite;
  display: block;
  width: 24px;
  height: 24px;
  color: rgba(55, 53, 47, 0.4);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImage {
  max-width: 100%;
  width: 640px;
}

.footer {
    display: flex;
    position: fixed;
  }


.social { 
 position: relative;
  top: -207px;
  left: 260%;
  border-radius: 50%; 
  transform: scale(0.7); 
  display: none;
 
}

.social svg { 

  transform: scale(0.7); 
 
}

.settings {
   position:absolute;
   left:50%;
   top:50%;
   margin-left:162px;
   margin-top: 40px;
   border-radius: 50%; 
   user-select: none;
   background: var(--bg-color);
   transform: scale(0.6);
}





.copyright {
  padding: -1.5em; 
  margin: 0 auto;
  font-size: 60%;
  display: none;
}
/*
.settings,
.social {

  margin: 0 auto;
  user-select: none;
  background: var(--bg-color);
}
*/

.settings a,
.social a {
  cursor: pointer;
  font-size: 2em;
  display: inline-flex;
  padding: 0.25em;
  margin-right: 1vw;
  transition: color 250ms ease-out;
}

.settings a:last-of-type,
.social a:last-of-type {
  margin-right: 0;
}

.settings a:hover,
.social a:hover {
  transition: color 50ms ease-out;
}

.settings svg { 

  transform: scale(0.8); 
 
}


.toggleDarkMode:hover {
  color: #2795e9;
}

.refresh:hover, 
.refresh:focus {
cursor: pointer;
}

.refresh {
  position: relative;
  top: -207px;
  left: 285%; 
  font-size: 1.8em;
  font-weight: 400;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: none;
  border-radius: 75%;
  color: var(--fg-color);
  transition: color 250ms ease-out;
  transform: scale(0.57); 
  display: none;
}

.twitter:hover {
  color: #2795e9;
}

.github:hover {
  color: #c9510c;
}

.linkedin:hover {
  color: #0077b5;
}

.comments {
  width: 100%;
  margin-top: 2em;
  border-top: 1px solid var(--fg-color-0);
}

.utterances {
  margin-top: 2em;
  width: 100%;
}


@media only screen and (min-width: 567px) {
  .utterances {
    width: calc(100% + 60px);
    position: relative;
    left: -60px;
  }
}


.pageActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 12px 12px;
}

.pageActions a {
  cursor: pointer;
  font-size: 24px;
  display: inline-flex;
  padding: 12px;
  margin-right: 1vw;
  border-radius: 50%;
  background: transparent;
  transition: all 250ms ease-out;
}

.pageActions a:last-of-type {
  margin-right: 0;
}

.pageActions a:hover {
  transition: all 50ms ease-out;
}

.likeTweet:hover {
  background: #f6e3e8;
  color: #e0265e;
}

.retweet:hover {
  color: #19bf64;
  background: #e5f2e8;
}

/* PASAR A MOBILE */

.footer nav {
   position:absolute;
   left:50%;
   top:50%;
   margin-left:163px;
   margin-top: 60px;
   transform: scale(0.8);
 
}


.menuToggle {
  display: block;
  position: relative;
  background:##F2F2F2;
  transform: scale(0.4);
  
  z-index: 1;
 
  
  -webkit-user-select: none;
  user-select: none;
}


.menuToggle input
{
  
  width: 40px;
  height: 32px;
  position: relative;
  top: 35px;
  left: 6px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.menu {
   position: absolute;
  top: 80%;
  left: -20%;
  
  width: 350px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 155px;
  opacity: 0.7;
  border-radius: 10%;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-900%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}



.menuToggle a:nth-of-type(1)
{
   text-decoration: none;
   line-height: 1;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 8px 4px;
   overflow: hidden;
   color: #333;
   vertical-align: bottom;
   transition: color .3s ease-out;

}

.menuToggle a:nth-of-type(1)::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   left: 0;
   transform: translateY(calc(900% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
   transition: transform .25s ease-out;
}

.menuToggle a:nth-of-type(1):hover {

   color: #fff; 
}

.menuToggle a:nth-of-type(1):hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
} 

.menuToggle a:nth-of-type(2)
{
   text-decoration: none;
   line-height: 1;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 8px 4px;
   overflow: hidden;
   color: #333;
   vertical-align: bottom;
   transition: color .3s ease-out;

}

.menuToggle a:nth-of-type(2)::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   left: 0;
   transform: translateY(calc(900% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
   transition: transform .25s ease-out;
}

.menuToggle a:nth-of-type(2):hover {

   color: #fff; 
}

.menuToggle a:nth-of-type(2):hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}

.menuToggle a:nth-of-type(3)
{
   text-decoration: none;
   line-height: 1;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 8px 4px;
   overflow: hidden;
   color: #333;
   vertical-align: bottom;
   transition: color .3s ease-out;

}

.menuToggle a:nth-of-type(3)::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   left: 0;
   transform: translateY(calc(900% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
   transition: transform .25s ease-out;
}

.menuToggle a:nth-of-type(3):hover {

   color: #fff; 
}

.menuToggle a:nth-of-type(3):hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}







/*
 * Just a quick hamburger
 */
.menuToggle span
{
  
 
  transform: scale(.8, .6);
  display: block;
  opacity: 0.7;
  width: 48px;
  height: 8px;
  margin-bottom: 6px;
  position: relative;
  top: 0px;
  padding: 2.6px;
  left: 0px;
  background: #262626 !important;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
 
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 2% 100%;
  margin-top: -2px;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}



.menu li
{
  padding: 20px 0;
  font-size: 32px;
  margin-top: -8px;
  font-family: monospace;
  white-space: nowrap;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;
}

@media (max-width: 1360px) {
  .githubCorner {
    display: none;
  }
}

.githubCorner:hover .octoArm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .githubCorner:hover .octoArm {
    animation: none;
  }

  .githubCorner .octoArm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Proporcionar el Burguer */
/* Ver que la transform afecta la posición del menu */


@media only screen and (min-width: 414px) and (max-width: 768px) {
.menuToggle {
    left: 30vw;
    
  }

.menu {

  left: -70px;
}

.menuToggle span
{
background: #2E3437;
}

.refresh {
    left: 35.7vw !important;
    
  }

.social, .settings {
    left: 31.5vw;
    
  }



}











@media only screen and (max-width: 419px)  {
.menuToggle {
    left: 45vw;
    
  }

.menu {

  left: -40px;
}

.menuToggle span
{
background: #2E3437;
}

.refresh {
    left: 42vw !important;
    
  }

.social, .settings {
    left: 35vw;
    
  }

.copyright {
    color: #2E3437;
    
  }


}


@media only screen and (max-width: 376px)  {
.menuToggle {
    left: 47vw !important;
    
  }

.menu {

  left: -40px;
}

.menuToggle span
{
background: #2E3437;
}

.refresh {
    left: 46vw !important;
    
  }

.social, .settings {
    left: 38vw !important;
    
  }

.copyright {
    color: #2E3437;
    
  }


}


/*
@media only screen and (max-height: 419px)  {
  .menuToggle {
    transform: scale(0.8);
  }

.menu {

  left: -40px;
}

.menuToggle input {

left: 60%;

}
}
*/


@media only screen and (max-width: 320px)  {
.menuToggle {
    left: 120%;
    
  }

.menu {

  left: -40px;
}

.menuToggle span
{
background: var(--bg-color);
}

.refresh {
    left: 150px;
    color: black;
  }

.social, .settings {
    left: 100%;
    
  }
}

/* STYLING OF SUB PAGE ANTWEB */



