@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}



.titulo {
  font-family: monospace;
  font-size: 1.2rem;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
  width: 425px;
  text-align: justify;
  padding: 13px 23px 13px 23px;
  display: flex;
}

.estrellas {

  color: black;
  animation: mymove 30s;
  animation-delay: 10s;
}

.recuadro {
 
  color: white;
  background: black;
  padding: 3px 2px;
}


@keyframes mymove {
  0%   {color: black}
  20%  {color: yellow}
  30%  {color: yellow}
  50%  {color: pink}
  75%  {color: grey}
  100% {color: black}
}
.espacio {
 
  color: white;
  margin-left: -12px !important;
}


.parrafo1 {
  color: #1D1D1D;
}

.parrafo2 {
  color: #1D1D1D;
}

.parrafo3 {
  color: #1D1D1D ;
text-align: justify;
  text-justify: inter-word;
}


.tituloMobile {
  display: none;
}


.tituloMobile2 {
  display: none;
}


/* BORDER */

.titulo:before,
.titulo:after,
.titulo>:first-child:before,
.titulo>:first-child:after {
  position: absolute;
  width: 17px;
  height: 17px;
  border-color: black;
  /* or whatever colour */
  border-style: solid;
  /* or whatever style */
  content: ' ';
}

.titulo:before {
  top: 0;
  left: 0;
  border-width: 3px 0 0 3px
}

.titulo:after {
  top: 0;
  right: 0;
  border-width: 3px 3px 0 0
}

.titulo>:first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 3px 3px 0
}

.titulo>:first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 3px 3px
}



.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;

  font-size: 16px;
  line-height: 1.5;
  color: rgb(55, 53, 47);
  caret-color: rgb(55, 53, 47);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.loadingIcon {
  animation: spinner 0.6s linear infinite;
  display: block;
  width: 24px;
  height: 24px;
  color: rgba(55, 53, 47, 0.4);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImage {
  max-width: 100%;
  width: 640px;
}

.footer {
    display: flex;
    position: absolute;
  }


.social { 
 position: relative;
  top: -207px;
  left: 260%;
  border-radius: 50%; 
  transform: scale(0.7); 
  display: none;
 
}

.social svg { 

  transform: scale(0.7); 
 
}

.settings {
   position:relative;
   left:45vw;
   top:4vh;
   border-radius: 75%; 
   user-select: none;
   background: var(--bg-color);
   transform: scale(0.9);
   display: none;
}





.copyright {
  padding: -1.5em; 
  margin: 0 auto;
  font-size: 60%;
  display: none;
}
/*
.settings,
.social {

  margin: 0 auto;
  user-select: none;
  background: var(--bg-color);
}
*/

.settings a,
.social a {
  cursor: pointer;
  font-size: 2em;
  display: inline-flex;
  padding: 0.25em;
  margin-right: 1vw;
  transition: color 250ms ease-out;
}

.settings a:last-of-type,
.social a:last-of-type {
  margin-right: 0;
}

.settings a:hover,
.social a:hover {
  transition: color 50ms ease-out;
}

.settings svg { 

  transform: scale(0.6); 
 
}


.toggleDarkMode:hover {
  color: #2795e9;
}

.refresh:hover, 
.refresh:focus {
cursor: pointer;
}

.refresh {
  position: relative;
  top: -207px;
  left: 285%; 
  font-size: 1.8em;
  font-weight: 400;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: none;
  border-radius: 75%;
  color: var(--fg-color);
  transition: color 250ms ease-out;
  transform: scale(0.57); 
  display: none;
}

.twitter:hover {
  color: #2795e9;
}

.github:hover {
  color: #c9510c;
}

.linkedin:hover {
  color: #0077b5;
}

.comments {
  width: 100%;
  margin-top: 2em;
  border-top: 1px solid var(--fg-color-0);
}

.utterances {
  margin-top: 2em;
  width: 100%;
}


@media only screen and (min-width: 567px) {
  .utterances {
    width: calc(100% + 60px);
    position: relative;
    left: -60px;
  }
}


.pageActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 12px 12px;
}

.pageActions a {
  cursor: pointer;
  font-size: 24px;
  display: inline-flex;
  padding: 12px;
  margin-right: 1vw;
  border-radius: 50%;
  background: transparent;
  transition: all 250ms ease-out;
}

.pageActions a:last-of-type {
  margin-right: 0;
}

.pageActions a:hover {
  transition: all 50ms ease-out;
}

.likeTweet:hover {
  background: #f6e3e8;
  color: #e0265e;
}

.retweet:hover {
  color: #19bf64;
  background: #e5f2e8;
}

/* PASAR A MOBILE */

.footer nav {
   position:relative;
   left:45vw;
   top:2vh;
   transform: scale(1.6);
}


.menuToggle {
  display: block;
  position: relative;
  background:##F2F2F2;
  transform: scale(0.4);
  
  z-index: 1;
 
  
  -webkit-user-select: none;
  user-select: none;
}


.menuToggle input
{
  
  width: 40px;
  height: 32px;
  position: relative;
  top: 35px;
  left: 6px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.menu {
   position: absolute;
  top: 80%;
  left: -320%;
  
  width: 350px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 155px;
  opacity: 0.7;
  border-radius: 10%;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-900%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}



.menuToggle a:nth-of-type(1)
{
   text-decoration: none;
   line-height: 1;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 8px 4px;
   overflow: hidden;
   color: #333;
   vertical-align: bottom;
   transition: color .3s ease-out;

}

.menuToggle a:nth-of-type(1)::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   left: 0;
   transform: translateY(calc(900% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
   transition: transform .25s ease-out;
}

.menuToggle a:nth-of-type(1):hover {

   color: #fff; 
}

.menuToggle a:nth-of-type(1):hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
} 

.menuToggle a:nth-of-type(2)
{
   text-decoration: none;
   line-height: 1;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 8px 4px;
   overflow: hidden;
   color: #333;
   vertical-align: bottom;
   transition: color .3s ease-out;

}

.menuToggle a:nth-of-type(2)::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   left: 0;
   transform: translateY(calc(900% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
   transition: transform .25s ease-out;
}

.menuToggle a:nth-of-type(2):hover {

   color: #fff; 
}

.menuToggle a:nth-of-type(2):hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}

.menuToggle a:nth-of-type(3)
{
   text-decoration: none;
   line-height: 1;
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 8px 4px;
   overflow: hidden;
   color: #333;
   vertical-align: bottom;
   transition: color .3s ease-out;

}

.menuToggle a:nth-of-type(3)::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   left: 0;
   transform: translateY(calc(900% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
   transition: transform .25s ease-out;
}

.menuToggle a:nth-of-type(3):hover {

   color: #fff; 
}

.menuToggle a:nth-of-type(3):hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}







/*
 * Just a quick hamburger
 */
.menuToggle span
{
  
 
  transform: scale(.8, .6);
  display: block;
  opacity: 0.7;
  width: 48px;
  height: 8px;
  margin-bottom: 6px;
  position: relative;
  top: 0px;
  padding: 2.6px;
  left: 0px;
  background: var(--bg-color) !important;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
 
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 2% 100%;
  margin-top: -2px;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}



.menu li
{
  padding: 20px 0;
  font-size: 32px;
  margin-top: -8px;
  font-family: monospace;
  white-space: nowrap;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;
}

@media (max-width: 1360px) {
  .githubCorner {
    display: none;
  }
}

.githubCorner:hover .octoArm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .githubCorner:hover .octoArm {
    animation: none;
  }

  .githubCorner .octoArm {
    animation: octocat-wave 560ms ease-in-out;
  }
}




@media only screen and (max-width: 600px) {

.titulo {
width: 97%;
font-size: 1.6rem;
white-space: pre-wrap;
margin-top: 48vh;
}

.titulo:before, .titulo:after {
border: unset;

}
}

@media only screen and (max-width: 376px)  {}

@media only screen and (max-width: 320px)  {

.titulo {
width: 97%;
font-size: 1.6rem;
white-space: pre-wrap;
margin-top: 90vh;
}

.titulo:before, .titulo:after {
border: unset;

}

}


/* HORIZONTAL */
@media only screen and (max-height: 414px)  {

.titulo {
width: 97%;
font-size: 1.6rem;
white-space: pre-wrap;
margin-top: 40vh;
}

.titulo:before, .titulo:after {
border: unset;

}




}

@media only screen and (max-height: 375px)  {}



@media only screen and (max-width: 320px)  {}





