@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;

  font-size: 16px;
  line-height: 1.5;
  color: rgb(55, 53, 47);
  caret-color: rgb(55, 53, 47);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.loadingIcon {
  animation: spinner 0.6s linear infinite;
  display: block;
  width: 24px;
  height: 24px;
  color: rgba(55, 53, 47, 0.4);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImage {
  max-width: 100%;
  width: 640px;
}

.footer {
  width: 50%;
  max-width: 1300px;
  
  margin-bottom: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 80%;
  padding: 0.5em;
}

.settings,
.social {
  user-select: none;
}

.settings a,
.social a {
  cursor: pointer;
  font-size: 2em;
  display: inline-flex;
  padding: 0.25em;
  margin-right: 1vw;
  transition: color 250ms ease-out;
}

.settings a:last-of-type,
.social a:last-of-type {
  margin-right: 0;
}

.settings a:hover,
.social a:hover {
  transition: color 50ms ease-out;
}

.toggleDarkMode:hover {
  color: #2795e9;
}

.twitter:hover {
  color: #2795e9;
}

.github:hover {
  color: #c9510c;
}

.linkedin:hover {
  color: #0077b5;
}

.comments {
  width: 100%;
  margin-top: 2em;
  border-top: 1px solid var(--fg-color-0);
}

.utterances {
  margin-top: 2em;
  width: 100%;
}

.refresh:hover, 
.refresh:focus {
cursor: pointer;
}

@keyframes refresh {
 }

.refresh {
  font-size: 1.4em;
  font-weight: 900;
  color: black;
  padding: 3px 8px;
margin-left: 5px;
  background-color: light gray;
border: none;
border-radius: 50%;
  
}



@media only screen and (min-width: 567px) {
  .utterances {
    width: calc(100% + 60px);
    position: relative;
    left: -60px;
  }
}


.pageActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 12px 12px;
}

.pageActions a {
  cursor: pointer;
  font-size: 24px;
  display: inline-flex;
  padding: 12px;
  margin-right: 1vw;
  border-radius: 50%;
  background: transparent;
  transition: all 250ms ease-out;
}

.pageActions a:last-of-type {
  margin-right: 0;
}

.pageActions a:hover {
  transition: all 50ms ease-out;
}

.likeTweet:hover {
  background: #f6e3e8;
  color: #e0265e;
}

.retweet:hover {
  color: #19bf64;
  background: #e5f2e8;
}

/* PASAR A MOBILE */

.menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

.menuToggle a:hover
{
  color: tomato;
}


.menuToggle input
{
  
  display: none;
  /* display: block; */
  width: 40px;
  height: 32px;
  position: absolute;
  top: -850px;
  left: 140px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span
{
  
  display: none;
  
  /* display: block; */
  
  width: 45px;
  height: 6px;
  margin-bottom: 7px;
  position: relative;
  top: -850px;
  
  left: 140px;
  background: #999999;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  top: -850px;
  left: 140px;
  width: 270px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 155px;
  opacity: 0.7;
  border-radius: 10%;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-600%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;
}

@media (max-width: 1360px) {
  .githubCorner {
    display: none;
  }
}

.githubCorner:hover .octoArm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .githubCorner:hover .octoArm {
    animation: none;
  }

  .githubCorner .octoArm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* CAMBIAR DISPLAY A BLOCK PARA MOBILE */



@media only screen and (max-width: 768px) {

  .menuToggle input {
    display: block;
    top: -900px;
    left: 5px;
    
  }
  .menu {
    top: -900px;
    left: 0px;

  }
.menuToggle span {
    display: block;
    top: -900px;
    left: 5px;
    
  }
.footer {
  width: 75%;
  
  margin: unset;
  padding: unset;
  margin-top: -10px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

}
@media only screen and (max-width: 566px) {

   .menuToggle input {
    display: block;
    top: -640px;
    left: 90px;
    
  }
  .menu {
    top: -640px;
    left: 70px;

  }
.menuToggle span {
    display: block;
    top: -640px;
    left: 90px;
   }  
   

  .footer {
    flex-direction: column;
  }

  .footer > div {
    margin-top: 1em;
  }

  .footer .settings {
    order: 1;
    margin-top: 0em;
  }
  .footer .social {
    order: 2;
  }
  .footer .copyright {
    order: 3;
  }
}

@media only screen and (max-width: 320px) {

   .menuToggle input {
    display: block;
    top: -620px;
    left: 70px;
    
  }
  .menu {
    top: -620px;
    left: 40px;

  }
.menuToggle span {
    display: block;
    top: -620px;
    left: 70px;
   }  
   

  .footer {
    flex-direction: column;
  }

  .footer > div {
    margin-top: 1em;
  }

  .footer .settings {
    order: 1;
    margin-top: 0em;
  }
  .footer .social {
    order: 2;
  }
  .footer .copyright {
    order: 3;
  }
}



